@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
body {
  margin: 0;
  font-family: Calibri;
  line-height: 1.25;
}
/*=============== Less ===================*/
/* Font sizes*/
/* Font colours*/
/* Colours*/
/* Fonts*/
/*=================================================*/
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
table caption {
  font-size: 20px;
  margin: 0.5em 0 0.75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}
table th,
table td {
  padding: 0.625em;
  text-align: center;
  width: 10%;
}
table th {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid black;
}
td {
  font-size: 20px;
  height: 40px;
}
.StickyNote {
  background-color: rgba(0, 146, 255, 0.73);
  border: 2px solid #00487e;
  width: 40%;
}
