@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tasks";
}

@section AddCSSToHead {
    <link rel="stylesheet" type="text/css" href="~/css/Addons/Queue.css" asp-append-version="true" />
}

@section AddJSToBody {
    <script src="~/js/Tasks/Pages/TasksPage.js" asp-append-version="true"></script>
}

<div id="queue-mount" class="qv--page"></div>
