body {
  display: block;
  margin: 0;
  min-width: 600px;
}
/* Font sizes*/
/* Font colours*/
/* Colours*/
/* Fonts*/
.RFCAttachments {
  margin-top: 15px !important;
}
#DisableBackground {
  position: absolute;
  float: left;
  display: none;
  width: 100%;
  height: 800px;
  z-index: 2900;
  background-color: rgba(0, 0, 0, 0.4);
}
#Create-ChangeRequest-Panel,
#Open-ChangeRequest-Panel {
  display: none;
  height: auto;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  background-color: #E2E6EB;
  z-index: 3000;
  border: solid grey 1px;
  padding: 50px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
#Create-ChangeRequest-Panel #body-div,
#Open-ChangeRequest-Panel #body-div {
  float: left;
  position: relative;
  width: inherit;
  height: auto;
}
#Create-ChangeRequest-Panel #body-div #CRForm,
#Open-ChangeRequest-Panel #body-div #CRForm,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm {
  float: left;
  position: relative;
  width: inherit;
  height: auto;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest {
  float: left;
  position: relative;
  width: inherit;
  height: auto;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div {
  margin-top: 10px;
  position: relative;
  float: left;
  width: 90%;
  min-height: 30px;
  height: auto;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Left,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Left,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Left,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Left {
  position: relative;
  float: left;
  width: 30%;
  height: inherit;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Left lable,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Left lable,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Left lable,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Left lable {
  font-size: 18px;
  font-family: Calibri;
  width: inherit;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right {
  Box-Sizing: border-box;
  position: relative;
  float: left;
  min-height: 25px;
  height: auto;
  width: 70% !important;
  padding-left: 10px;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right #changeRequestDescription,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right #changeRequestDescription,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right #changeRequestDescription,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right #changeRequestDescription {
  height: auto;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right .Value,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right .Value,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right .Value,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right .Value {
  position: relative;
  float: left;
  Box-Sizing: border-box;
  font-family: Calibri;
  font-size: 18px;
  height: auto;
  padding: 5px;
  width: 100% !important;
  height: 35px;
  border-radius: 3px;
  border: solid 1px grey;
  background-color: white;
  box-shadow: none;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right .Value label,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right .Value label,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right .Value label,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right .Value label {
  width: 70% !important;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right .Value select,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right .Value select,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right .Value select,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right .Value select {
  width: 70% !important;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right .Value textarea,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right .Value textarea,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right .Value textarea,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right .Value textarea {
  width: 70% !important;
}
#Create-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right textarea,
#Open-ChangeRequest-Panel #body-div #CRForm #inner-ChangeRequest #CR-Div #Right textarea,
#Create-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right textarea,
#Open-ChangeRequest-Panel #body-div #UpdateCRForm #inner-ChangeRequest #CR-Div #Right textarea {
  width: 70% !important;
  min-height: 60px;
  height: 160px !important;
}
#CreateCRButtonDiv {
  margin-top: 20px;
  position: relative;
  float: left;
  width: inherit;
  height: 40px;
}
#CreateCRButtonDiv #CreateCR-Button {
  position: relative;
  left: 40%;
}
#CreateCRButtonDiv #CancelCR-Button {
  position: relative;
  left: 35%;
}
#CreateCRButtonDiv #Download-CRForm-Div {
  position: relative;
  float: right;
  width: 300px;
  margin: 0 !important;
  margin-top: 5px !important;
}
#CreateCRButtonDiv #Download-CRForm-Div p {
  margin: 0;
  width: 300px;
}
#ButtonBox {
  margin-right: 20px;
}
