#Table-Div-Outer {
    #Table-Div-Inner {
        table {
            thead {
                tr {
                    th {
                        padding-left: 20px;
                        cursor: default;
                        text-align: left !important;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding-left: 20px;
                        cursor: default;
                        text-align: left !important;
                    }

                    td:hover {
                        color: black !important;
                    }
                }
            }
        }
    }
}